{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container py-4">
    <div class="px-5 py-3 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Projet DJANGO</h1>
        <p class="fs-4">Le site crytocompare.com propose des données détaillées sur diverses crypto-monnaies, y compris
          des informations sur les prix, le volume des échanges, et les mouvements des marchés.
          L'utilisation de l'API est gratuit pour les besoins personnels.
          Ce projet illustre l'utilisation d'une API externe pour enrichir un site web avec des données dynamiques,
          tout en utilisant le puissant framework Django pour gérer le backend.</p>
        <a class="btn btn-primary btn-lg" type="button" target="_blank" href="https://www.cryptocompare.com/">cryptocompare.com</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Base de données</h2>
          <p>Bien que le projet puisse fonctionner sans base de données locale (en récupérant directement les données de
            l'API), je pourrais également intégrer une base de données pour stocker des informations sur les
            utilisateurs, leurs préférences, ou pour mettre en cache certains articles.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Fonctionnalités supplémentaires</h2>
          <p>L'application peut inclure des fonctionnalités supplémentaires comme la possibilité pour les utilisateurs de
            s'inscrire, de se connecter, de sauvegarder des articles favoris, de commenter, ou de partager des articles
            sur les réseaux sociaux.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container py-5">
  <div class="row">
    {% for item in data.Data %}
    <div class="col-md-4">
      <div class="card mb-2">
        <img src="{{ item.imageurl }}" class="card-img-top" alt="{{ item.source }}" />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.body|truncatechars:100 }}</p>
          <a href="{{ item.url }}" class="btn btn-primary btn-block">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
